@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: #2f234f;
}
.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-icons-cart {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.nav-icons-cart h1 {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.nav-icons-cart span {
  font-size: 20px;
}
.menu {
  display: none;
}
.nav-icons2 {
  display: none;
}
@media (max-width: 1200px) {
  .nav-icons {
    display: none;
  }
  .nav-icons2 {
    display: flex;
    align-items: center;
    margin-right: 5%;
    z-index: -1;
    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    position: absolute;
    left: 7%;
  }
  .menu {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 3%;
    cursor: pointer;
  }
  .container ul {
    position: absolute;
    top: -200px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }
  .container.active ul {
    top: 0px;
  }
  .container li {
    margin-left: 5%;
    margin-top: 20px;
  }
  .container ul li a {
    width: 100%;
    margin-bottom: 6px;
    font-size: 17px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .logo {
    position: absolute;
    left: 9%;
  }
}
@media (max-width: 500px) {
  .logo {
    position: absolute;
    left: 11%;
  }
}
@media (max-width: 450px) {
  .logo {
    position: absolute;
    left: 13%;
  }
}
@media (max-width: 400px) {
  .logo {
    position: absolute;
    left: 13%;
  }
}
:root {
  --primary-bg: #242526;
  --secondary-bg: #2f234f;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.menu-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-trigger h1 {
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.menu-trigger img {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}
.dp-icon {
  font-size: 20px;
}
.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 100px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.dropdown-menu ul button{
  margin-top: 10px;
  width: 85%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2f234f;
  color: #fff;
  border: none;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  color: #2f234f;
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem span {
  font-size: 20px;
  line-height: 0;
  color: black;
}

.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  font-size: 13px;
  color: black;
  transition: var(--speed);
}